<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-pencil"></i>&nbsp;&nbsp;<strong><a href="http://codepen.io/speedkils/full/WQodJv/">Dark Knight quote generator</a></strong> <p id="smallimage"><img src="https://raw.githubusercontent.com/ryanlennon/ryanlennon.github.io/master/assets/images/batman.png" class="img-thumbnail" alt="batman.png"></p>
			<p>This is the first app that I made. It's simply a quote generator of all my favorite lines from the dark knight trilogy. I used HTMl, CSS, jQuery, and Javascript.</p>
		</h5>

		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="https://jsfiddle.net/speedkils/whju7osw/2/">Breakout game</a></strong><p id="smallimage"><img src="https://raw.githubusercontent.com/ryanlennon/ryanlennon.github.io/master/assets/images/breakout.png" class="img-thumbnail" alt="breakout.png"></p>
			<p>Recreation of an old school game. Fun to play around with and create different features when you have some down time. I used HTML's canvas element, CSS, and Javascript</p>
		</h5>

		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/ryanlennon/tee-off">TeeBox</a></strong><p id="smallimage"><img src="https://raw.githubusercontent.com/ryanlennon/ryanlennon.github.io/master/assets/images/teebox.png" class="img-thumbnail" alt="teebox.png"></p>
			<p>Teebox is the final project after 3 months at Anyone Can Learn to Code programming bootcamp. I built this application utilizing Rails, Ruby, Angular.js, Bootstrap, HTML, CSS, Yahoo weather API, and Google maps API.</p>
		</h5>

    <h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://github.com/kaizenhealth/kaizen">Kaizen Health</a></strong><p id="smallimage"><img src="" class="img-thumbnail" alt="kaizen.png"></p>
			<p>Kaizen Health is the web application that I worked on during my internship and provides better access to healthcare facilities for underserved individuals. The app was built with Rails, Ruby, Bootstrap, and Twilio API.</p>
		</h5>
		<!--<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Project 4</a></strong>
			- Vim an case vidit sententiae, est at euismod laboramus efficiantur. Ei sit brute lorem,
			ea eam timeam viderer aliquid, cu integre omittam moderatius quo.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">Project 5</a></strong>
			- Dicta causae meliore ex vel, in vix erant integre petentium. Vix ei nisl scripta recusabo,
			eam doming blandit facilisis.
		</h5>
		
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="#">Project 7</a></strong>
			- Essent putant indoctum sed in, reprimique persequeris neglegentur te quo. Nam rebum
			tractatos partiendo at, debet ubique oporteat ut his.
		</h5> -->


    </div>
  </div>
</div>
</section>
